body {
  padding-top: 90px;
}

h2 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  padding-bottom: 40px;
}

img {
  max-width: 100%;
}

.navbar-nav > li > a {
  position: relative;
  padding: 35px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  outline: none;
}

.navbar-nav > li > a:after {
  content: "";
  display: block;
  width: 10px;
  height: 13px;
  background: url(../img/menu_division.png) center no-repeat;
  position: absolute;
  right: -5px;
  top: 38px;
  z-index: 5;
}

.navbar-nav > li:last-child > a:after {
  display: none;
}

.margin-auto-center {
  margin: 0 auto;
  float: none;
  text-align: center;
}

.col-lg-4 {
  text-align: center;
}

.img-rounded {
  border-radius: 0;
}

.nav-tabs.nav-justified>li {
  border-bottom: none;
  color: #fff;
  cursor: pointer;
  padding: 15px;

}

.filter {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.mix{
  display: none;
}

.logo-big {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 30px;
  left: 50%;
  margin-left: -175px;
  z-index: 5;
}

.item img {
  width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

footer .text-muted {
    color: #777;
}

.soc-buttons {
  width: 50%;
  margin: 0 auto 20px;
  padding: 20px;
  border-bottom: 1px solid #777;
}

.soc-buttons > a {
  font-size: 48px;
  margin-left: 48px;
  color: #fff;
}

